* {
    font-family: 'Slackey', cursive;
}
.cardContainer{
    height: 400px;
}

.carouselSize {
    height: 400px;
}
/* navbar. */
nav{
    min-height: 100px;
}

.carouselSize {
    height: 400px;
}
.imgLogo{
    width: 100px;
}